@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #E2E8F0;
}
.sideBar{
    background-color:#1992D4;
    height: 100vh;
}

.dbLogo{
    height: 35px;
    fill: white;
    padding-right: 5px;
    padding-left: 15px;
}

.navLogo{
    fill: white;
    height: 20px;
    padding-right: 10px;
    padding-left: 20px;
}
.menu p{
    display: flex;
        font-weight: bold;
    color: white;
}

.dashboard p{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 0px;
    font-size: 20px;
}

.dashboardNav{
    padding-top: 20px;
}

.menu{
    padding-top: 10px;
}

.list2{
    padding-top: 20px;
}

.rightIcon{
    height: 20px;
}

#search{
    border-radius: 10px;
    background-color: #E2E8F0;
    border: none;
    width: 60%;
    height: 25px;

}

#searchBar{
    padding-left: 30px;

}

#searchBar p{
    display: flex;
    align-items: center;
}

#searchBar svg{
    padding-right: 10px;
}

.profiles{
    height: 35px;
}

#notificationProfile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header1{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.welcome{
    display: grid;
    grid-template-columns: 40px 200px;
    gap: 35px;
    align-items: center;
    padding-left: 30px;
}

.profileH2{
    height: 60px;
}

.greeting{
    font-size: small;
    font-weight: bold;
    margin-bottom: 0px;
}

.userName{
    font-weight: bold;
    margin-top: 0px;
}

.buttons button{
    background-color: #1992D4;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
}

.buttons{
    padding-left: 40px;
}

.header2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 10px;
}

.header{
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 10px 10px 6px 12 px #7a7d80;
}

.card{
    border: 1px solid black;
    width: 250px;
    height: 120px;
    padding-left: 40px;
    padding-top: 30px;
    border-radius: 10px;
    font-size: x-small;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: inset 7px 0px #F0B429,3px 3px 7px 0.1px #b9bcc0;
    border: none;
}

.card p{
    margin-top: 0;
}

.card .cardHeading{
    font-size: 15px;
    font-weight: 500;
}

.cardLogos{
    height: 20px;
}

.card>p{
    display: flex;
    gap: 15px;
    justify-content: end;
    padding-right: 20px;
}

.cardContent p{
    color: #6F6F6F;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 20px;
    padding-left: 20px;
}

.cardsHeading{
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}